body {
    background-color: rgb(162, 182, 166);
    color:black;
}



.input-text {
width: 300px;
height: 50px;
margin-left: auto;
margin-right: auto;
}

.forM {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
  margin-bottom: 100px;}

.button-sab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 8px;
    padding: 8px 16px;
    width: 91px;
    height: 40px;
    background-color: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  
  .button-sab {
    transition: 2000ms cubic-bezier(0.075, 0.82, 0.165, 1) ;
  }
  
  .button-sab:hover {
    background-color: goldenrod;
transform: scaleX(1.2) scaleY(1.2);
  }

  .load-more {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 8px;
    padding: 8px 16px;
    width: 120px;
    height: 40px;
    border-color: #fff;
  
    background-color: #ff4e4e;
    margin-left: auto;
    margin-right: auto;
  }

  .link {
    color: blue;
  }
  
  .list-item {
display: flex;
border-color: black;
border: solid 1px;
  }

  .title-comments {
    width: 200px;
    text-align: center;
    border-color: black;
border: solid 1px;
  }

  .link {
    display: contents;
    width: 20px;
    border-color: black;
border: solid 1px;
  }
  
  .title-views {
    width: 400px;
    border-color: black;
    border: solid 1px;
  }
  .title {
width: 200px;
border-color: black;
border: solid 1px;  }